# Owner of the CODEOWNERS
/.github/CODEOWNERS @lnhsingh

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
*       @lnhsingh

# nav file
/src/docs.json @lnhsingh @katmayb @beklapko

# Any file in the `/src/langgraph-platform`
# and any of its subdirectories.
/src/langgraph-platform/ @katmayb @lnhsingh

# Any file in the `/src/langsmith`
# and any of its subdirectories.
/src/langsmith/ @katmayb @lnhsingh

# Any file in the `/src/oss`
# and any of its subdirectories.
/src/oss/ @beklapko @lnhsingh

